body{
    background-image: image("https://images.pexels.com/photos/1653772/pexels-photo-1653772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
h1{
    text-align: center;
}
nav{
    text-align: center;
    color:black;
}
li {
    display: inline;
  }