div.rara{
    text-align: center;
}
li{
    text-align: center;
}
nav{
    display: inline;
    
}
h1{
    
    display: inline;;
    color: brown;
    font-style: oblique;
    text-align: center;
}
p{
    font-style: oblique;
    color: brown;
}
